<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
<ul class="nav navbar-nav">
  <li class="navbar-brand"><a href="{% url 'index' %}">Brand</a> </li>
  <li><a class="navbar-link" href="{% url 'admin:index' %}">admin</a> </li>
  <li><a class="navbar-link" href="{% url 'basic_app:other' %}">other</a> </li>

</ul>
  </div>

</nav>
<div class="container">
  {% block body_block %}
# anything out of this is inherrited
  {% endblock %}

</div>
  </body>
</html>
